<div app-wave></div>
<div id="monaco-background" app-fade-in [delay]="2500"></div>
<div class="block" id="first-block">
    <h1>The world is a campus.</h1>
    <p>
        <b>Technology</b> is revolutionizing the way we <b>learn</b> and <b>engage</b> with others.
    </p>
    
</div>
<div class="block" id="first-paragraph" app-fade-in [delay]="2000">
    <p>
        In a more than ever connected world, we believe that innovation drives value creation through platforms, people and technology. <br/>
        We believe at <b>Twic</b> thant &laquo;the world is a campus&raquo;.
    </p>
    <p>
        <b>Monaco</b> is where our very internationally diverse team happens to be. While home to over <b>140 nationalities</b>, the 
        <b>Principality of Monaco</b> has for many years been working towards and promoting a better world, placing the 
        <b>United Nations Millenium Development Goals</b> at the heart of it's foreign policy.
</div>
<div class="block" id="adress" app-fade-in  [delay]="2000">
    <img class="twic-logo"  src="assets/images/Logo.svg"/>
    <div class="by">by</div>
    <img class="studnet-logo"  src="assets/images/studnet.png"/>
    <div>THE STUDNET SAM</div>
    <div>Gildo Pastor Center</div>
    <div>7, rue du Gabian, 98000 Monaco</div>
    <div>contact@thestudnet.com</div>
    <img class="monaco-logo"  src="assets/images/monaco.png"/>
    <div class="monaco-sentence">Playing a special role ine the world.</div>
</div>