
<div class="header-menu mobile dropdown" app-dropdown>
    <div class="dropdown-toggle menu-icon">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="dropdown-content">
        <div>
             <div class="menu-icon">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <img class="menu-logo" *ngIf="!isActive('/')"  [routerLink]="['/']"  src="assets/images/Logo-white.svg"/>
            <img class="menu-logo" *ngIf="isActive('/')" (click)="reload()"   src="assets/images/Logo-white.svg"/>
        </div>
        <div [routerLink]="['/product']">Product</div>
        <div [routerLink]="['/pricing']">Pricing</div>
        <a target="_blank" href="http://help.twic.community">Support</a>
        <div [routerLink]="['/about']">About</div>
    </div>
</div>
<div class="header-menu-content" *ngIf="menuOpen">
    
</div>
<img class="header-logo" *ngIf="!isActive('/')"  [routerLink]="['/']"  src="assets/images/Logo.svg"/>
<img class="header-logo" *ngIf="isActive('/')" (click)="reload()"   src="assets/images/Logo.svg"/>
<ul class="header-menu desktop">
    <li  [routerLink]="['/product']" routerLinkActive="current">Product</li>
    <li  [routerLink]="['/pricing']" routerLinkActive="current">Pricing</li>
    <li> <a target="_blank" href="http://help.twic.community">Support</a></li>
    <li  [routerLink]="['/about']" routerLinkActive="current">About</li>
</ul>
