
<div class="header-menu mobile dropdown" app-dropdown>
    <div class="dropdown-toggle menu-icon">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="dropdown-content">
        <div>
             <div class="menu-icon">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <img class="menu-logo" src="assets/images/Logo-white.svg"/>
        </div>
        <div [routerLink]="['/product']">Product</div>
        <div [routerLink]="['/pricing']">Pricing</div>
        <div>Support</div>
        <div [routerLink]="['/about']">About</div>
    </div>
</div>
<div class="header-menu-content" *ngIf="menuOpen">
    
</div>
<img class="header-logo"  [routerLink]="['']" src="assets/images/Logo.svg"/>
<ul class="header-menu desktop">
    <li  [routerLink]="['/product']" routerLinkActive="current">Product</li>
    <li  [routerLink]="['/pricing']" routerLinkActive="current">Pricing</li>
    <li>Support</li>
    <li  [routerLink]="['/about']" routerLinkActive="current">About</li>
</ul>
