<div app-wave></div>
<div class="block" id="first-block">
    <h1>Transparent pricing.</h1>
    <p>
        Whatever the plan, <b>Twic</b> is a no-brainer.<br/>
        An all inclusive transparent flat-fee.
    </p>
    
</div>
<div app-h2 id="choose-you-plan" app-fade-in [delay]='1500'>Choose your plan</div>
<div class="block table-block" app-fade-in [delay]='1500'>
    <div class="table">
        <div class="white column">
            <div class="title">0-200 users*</div>
            <div class="price">
                <span class="euro">8&euro;</span> / month / user
            </div>
            <div class="lines">
                <div class="line">
                    12-month contract
                </div>
            </div>
        </div>
        <div class="white column">
            <div class="title">201-500 users*</div>
            <div class="price">
                <span class="euro">6&euro;</span> / month / user
            </div>
            <div class="lines">
                <div class="line">
                   12-month contract
                </div>
            </div>
                
        </div>
        <div class="gray column">
            <div class="title">+ 500 users*</div>
            <div class="price">
                <div class="title">Contact us</div>
            </div>
            <div class="lines">
                <div class="line">
                    3-year contract
                </div>
            </div>
                
        </div>
    </div>
    <i class="anotation">*Faculty, students or staff</i>
</div>
<div class="block" id="our-pricing" app-fade-in [delay]='1500'>
    <p>
        Our pricing includes all features, unlimited usage.
    </p>
</div>


<div class='block' id='features' app-fade-in>
    <div app-h2>
        All features
    </div>
    <li>
        <ul><span class="icon icon-checkmark"></span>State-of-the-art Learning Management System</ul>
        <ul><span class="icon icon-checkmark"></span>Collaborative learning and social networking tools</ul>
        <ul><span class="icon icon-checkmark"></span>Videoconferencing system</ul>
        <ul><span class="icon icon-checkmark"></span>Data collection and graphic analytics</ul>
        <ul><span class="icon icon-checkmark"></span>24/7 support (chat and hot line)</ul>
        <ul><span class="icon icon-checkmark"></span>Custom integration and branding</ul>
    </li>
</div>

<div class='block' id='try-our-product' app-fade-in>
    <p>
        <b>You can try Twic today.</b><br/>
         Start your free 30-day trial for one course !
    </p>
    <button class='button' [routerLink]="['/contact-us']">
        Start free 30-day trial
    </button>
</div>
