
<div class="waves">
    <svg viewBox="0 0 100 100" preserveAspectRatio="none" id="wave-1" class="wave">
        <polygon points="0,0 100,100, 90,100 50,80 0,100"/>
    </svg>
    <svg viewBox="0 0 100 100" preserveAspectRatio="none" id="wave-2" class="wave">
        <polygon points="0,0 100,100 90,100 50,80 0,60"/>
    </svg>
    <svg viewBox="0 0 100 100" preserveAspectRatio="none" id="wave-3" class="wave">
        <polygon points="0,0 50,50 0,25"/>
    </svg>
    <svg viewBox="0 0 100 100" preserveAspectRatio="none" id="background">
        <polygon  points="0,0 100,0 100,100 0,76"/>
    </svg>
</div>
    