@import "../../../assets/less/rules.less";


:host{
    background : @clr-lightblue;
    height : 50rem;
    z-index: -3;
    top : -8rem;
    right : 0;
    left : 0;
    position : absolute;
}
.waves{
    position: relative;
    height : 100%;
    width : 100%;
}
svg{
    height : 12rem;
    bottom : 0;
    width : 100%;
    position : absolute; 
}
#white-block{
    fill : #FFF;
}
#wave-1{
    fill : @clr-lightblue2;
}
#wave-2{
    fill : @clr-lightblue3;
}
#wave-3{
    fill : @clr-lightblue4;
}