<div app-wave></div>
<div class="block" id="first-block">
    <h1>Higher Education in the 21st-Century.</h1>
    <p>
        <b>Twic</b>, the power of <b>networked education</b> on a single Social Learning Environment... Everywhere and anytime.
    </p>
    
</div>
<div class="desktop columns" id="all-in-one">
    <div class="column" app-fade-in [delay]='1500'>
        <div app-h2>All-in-one platform</div>
        <div  class="column-block" [ngClass]="{ gray : productIndex === 0 }" (click)="changeProductNumber(0)">
            <b>Learning Management System</b>
            <p>
                We are committed to being on the cutting edge of
                innovation in higher education. Our intuitive
                L.M.S enables to distribute online, blended courses over the internet as well as 
                to augment on-campus teaching in a brick and mortar environment.</p>
        </div>
        <div  class="column-block" [ngClass]="{ gray : productIndex === 1 }" (click)="changeProductNumber(1)">
            <b>Social networking features</b>
            <p>
                Our disruptive technology allows to create a connected, engaged and 
                collaborative learning experience for students and faculty across the world.
            </p>
        </div>
        <div  class="column-block" [ngClass]="{ gray : productIndex === 2 }" (click)="changeProductNumber(2)">
            <b>Videoconferencing system</b>
            <p>
               Our all-in-one platform make it easy to launch one-on- one, group calls or live classes without 
               needing to open another app or share invite links.
            </p>
        </div>
        <div  class="column-block" [ngClass]="{ gray : productIndex === 3 }" (click)="changeProductNumber(3)">
            <b>Data collection</b>
            <p>
               We use the latest forward-looking techniques in human-computer 
               interaction, and sophisticated algorithms to measure online engagement.
            </p>
        </div>
    </div>
    <div class="column" app-fade-in  [delay]='1500'>
        <div class="product" id="product-1" *ngIf="productIndex === 0"></div>
        <div class="product" id="product-2" *ngIf="productIndex === 1"></div>
        <div class="product" id="product-3" *ngIf="productIndex === 2"></div>
        <div class="product" id="product-4" *ngIf="productIndex === 3"></div>
    </div>
</div>

<div class="columns mobile" id="all-in-one" app-fade-in [delay]='1500'>
    <div class="column">
        <div app-h2>All-in-one platform</div>
        
        <div app-carousel [time]="10000" >
            
            <div  carousel-page class="column-block">
                <b>Learning Management System</b>
                <p>
                    We are committed to being on the cutting edge of
                    innovation in higher education. Our intuitive
                    L.M.S enables to distribute online, blended courses over the internet as well as 
                    to augment on-campus teaching in a brick and mortar environment.</p>
                <div class="carousel-image">
                    <img src="assets/images/lms_screen.jpg" class="product"/>
                </div>
            </div>
            
            <div  carousel-page class="column-block">
                <b>Social networking tools</b>
                <p>
                    Our disruptive technology allows to create a connected, engaged and 
                    collaborative learning experience for students and faculty across the world.
                </p>
                <div class="carousel-image">
                    <img src="assets/images/lms_social.jpg" id="product-2" class="product"/>
                </div>
            </div>
            <div  carousel-page class="column-block">
                <b>Videoconferencing system</b>
                <p>
                   Our all-in-one platform make it easy to launch one-on- one, group calls or live classes without 
                   needing to open another app or share invite links.
                </p>
                <div class="carousel-image">
                    <img src="assets/images/lms_screen_visio.jpg" class="product"/>
                </div>
            </div>
            <div  carousel-page class="column-block">
                <b>Data collection</b>
                <p>
                  We use the latest forward-looking techniques in 
                  human-computer interaction, and sophisticated algorithms 
                  to measure online engagement.
                </p>
                <div class="carousel-image">
                    <img src="assets/images/lms_screen_data.jpg" class="product"/>
                </div>
            </div>
        </div>
       
    </div>
</div>

<div id="planetarium"  (window:resize)="onResize($event)" app-fade-in [ratio]="0.8">
    <div app-planetarium 
         
        [circles]="circles" 
        [nbParticles]="15" 
        [size]="[0,height]"
        [center]="center">
        
    </div>
    <div app-h2>Networked education</div>
    <div class="planetarium-blocks">
        <div class="planetarium-block" id="share-collaborate">
            <b>Share & Collaborate</b>
            <p>
                Our collaborative learning environment based on online interactions, community of interest, group projects, 
                peer relationships and class discussions enables the proven best practices for student and faculty engagement.



            </p>
        </div>
        <div class="planetarium-block" id="network">
            <b>Network</b>
            <p>
                Whether B-Schools have opted for a single, multi-campus or a cross-institutional partnership (dual, joint degrees or alliances) strategy, 
                we believe that networking-based education allows for resources to be 
                distributed more efficiently.
            </p>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column" app-fade-in [ratio]="0.8">
        <div app-h2 id="everywhere" >Everywhere. Anytime.</div>
        <div  class="column-block">
            <b><span class="icon icon-loop2"></span> Responsiveness & Sync</b>
            <p>
              Whether Twic is used on a mobile, tablet or desktop, and whatever 
              content is created, all connected devices will stay in synchronization.
            </p>
        </div>
        <div  class="column-block">
            <b><span class="icon icon-bullhorn"></span>Notifications</b>
            <p>
                Students and faculty can receive real-time notifications pop 
                up on their devices to keep them up- to-date.
            </p>
        </div>
    </div>
    <div class="column" app-fade-in [ratio]="0.8">
        <div app-devices>

        </div>
    </div>
</div>
<div class="block" id="ready" app-fade-in>
    <div app-h2>Ready to get started</div>
    <p>Create your account in seconds and start your free trial.</p>
    <div class="buttons">
        <button class="button" id="create-account" [routerLink]="['/contact-us']">
            Create Account
        </button>
        <button class="button white" [routerLink]="['/pricing']">
            Our Pricing Plan
        </button>
    </div>
</div>