<header id="header">
    <div id="header-animation">
        <div id="animation-layout">
            
            <div class="circle first"></div>
            <div class="circle second"></div>
            <div class="circle third"></div>
            <div class="circle fourth"></div>
            <div class="circle fifth"></div>
        </div>
    </div>
   <img class="header-logo" src="assets/images/Logo.svg"/>
   <ul class="header-menu">
       <li>Product</li>
       <li>Pricing</li>
       <li>Support</li>
       <li>About</li>
   </ul>

</header>