@import "../../../assets/less/rules.less";

@keyframes fade-in-from-right {
    0% { left : 100% }
    100% { left : 0}
}
@keyframes fade-in-from-left {
    0% { left : -100% }
    100% { left : 0}
}

@keyframes fade-out-to-left {
    0% { left : 0;  }
    100% { left : -100%; }
}

@keyframes fade-out-to-right {
    0% { left : 0;  }
    100% { left : 100%; }
}

:host{
    display : flex;
    flex-direction: column;
}
:host @{deep} .carousel{
    width : 100%;
    overflow : hidden;
    flex-shrink: 0;
    .carousel-content{
        width : 100%;
        display : flex;
    }
    .carousel-content{
        position : relative;
    }
    
    [carousel-page]{
        width : 100%;
        flex-shrink: 0;
        &.shown.from-right{
            left : 0;
            position : relative; 
            animation : fade-in-from-right 2000ms ease-in-out;
        }
        &.shown:not(.from-right){
            left : 0;
            position : relative; 
            animation : fade-in-from-left 2000ms ease-in-out;
        }
        &.previous.to-left{
            animation : fade-out-to-left 2000ms ease-in-out;
        }
        &.previous:not(.to-left){
            animation : fade-out-to-right 2000ms ease-in-out;
        }
        &.hide{
            left : 100%;
            position : absolute;
        }
    }
}

.carousel-pagination{
    margin : 4rem auto;
    display : flex;
    justify-content : center;
    .pagination-point{
        width : 0.9rem;
        height : 0.9rem;
        border-radius: 50%;
        background : #D7D7E2;
        margin-right: 3rem;
        cursor : pointer;
        &:last-of-type{
            margin-right: 0;
        }
        &.selected{
            background : @clr-blue;
        }
    }
}

