<div id="animation-layout">
    <div class="circle-center" *ngFor="let circle of radius" [ngStyle]="{ top : -circle, right : -circle }">
         <div class="circle" [@circle]="normal" [ngStyle]="{ width : circle * 2, height : circle * 2 }">
             
        </div>
    </div>
    <div class="particle" 
         *ngFor="let particle of particles" 
         [ngClass]="{ gray : particle.color === 'gray' }"
         [ngStyle]="
            { 
                'margin-right' : particle.source[0],
                'margin-top' : particle.source[1], 
                opacity : particle.opacity,
                width : particle.size,
                height : particle.size,
                top : -particle.size * 0.5,
                right : -particle.size * 0.5,
                'border-width' : particle.borderSize,
                transform : 'rotate(' + particle.currentRotation + 'deg)',
                'transition' : 
                'margin-right ' + particle.duration + 'ms linear, 
                margin-top ' + particle.duration + 'ms linear, 
                transform  ' + particle.duration + 'ms linear'
            }"
        >
    </div>
</div>