<div app-planetarium 
     [circles]="circles" 
     [center]="[0, 50]" [nbParticles]="15" 
     [size]="[0,800]"
     ></div>
<h1>The Social Learning Environment<span class="blue"><b>*</b></span> for <span class="no-break">B-Schools.</span></h1>
<div class="block" app-fade-in>
    <p>
        <span class="blue"><b>*</b></span><b>Engagement</b> is <u>the key in a digital environment</u>.<br class='desktop'/> 
        This is why we have designed a technology combining an intuitive <br class='desktop'/>
        Learning Management System with 21st-Century social networking features.
    </p>
    <button class="button" [routerLink]="['/product']">See Our Product<span class="chevron right"></span></button>
</div>
<div class="block citation-block" app-fade-in>
    <div class="portrait"></div>
    <div class="citation">
        <div class="quote">“</div>
        <div class="citation-content">THE POWER OF NETWORKED EDUCATION</div>
        <p>
            <b>Edward Snyder</b>, Dean of Yale School of Management
        </p>
        <p class="poets-paragraph">
            ‘Dean of the year 2015’ by <img class="poets" src="assets/images/Poets-Quants-logo.jpg" />
        </p>

    </div>
</div>
<div class="block small-text" app-fade-in>
    THEY TRUST US
</div>
<!--<div app-carousel app-fade-in  (window:resize)="onResize($event)" [ratio]="0.8" [time]="[15000, 10000]" >
    <div carousel-page *ngFor="let page of pages">
         <div class="schools">
            <div class="school" *ngFor="let school of page">
                <img src="{{ school }}"/>                    
            </div>
        </div>
    </div>
</div>-->
<div id="gnam" app-fade-in></div>
<div id="gnam-desc" app-fade-in>
    <b>Multiply connections, build global capabilities, exceed boundaries.</b>
   
    <p>
        Founded by Yale School of Management, the Global Network for Advanced Management includes 29 leading business schools from diverse regions, countries, cultures, and
        economies in different phases of development.
    </p>
    <p>
        Leveraging network efficiencies, utilizing new technologies, building strong institutional and personal relationships, the Global Network is
        having a transformational effect on students, member schools, management education, and beyond.
    </p>
</div>
       