<div app-planetarium 
     [radius]="[370, 290, 210, 150, 100]" 
     [center]="[50, 50]" [nbParticles]="15" 
     [size]="[0,800]"
     ></div>
<h1>The Social Learning Environment<span class="blue"><b>*</b></span> for B-Schools.</h1>
<div class="block">
    <p>
        <span class="blue"><b>*</b></span><b>Engagement</b> online is at <u>the heart of our product design</u>.<br/> 
        This is why we have developped a technology combining a state-of-the-art <br/>
        Learning Management System with 21st-Century social networking tools.
    </p>
    <button class="button">See Our Product<span class="arrow">></span></button>
</div>
<div class="block flex marged">
    <div class="quote">“</div>
    <div class="portrait"></div>
    <div class="citation-block">
        <div class="citation">THE POWER OF NETWORKED EDUCATION</div>
        <p>
            <b>Edward Snyder</b>, Dean of Yale School of Management<br/>
            ‘Dean of the year 2015’ by <img class="poets" src="assets/images/Poets-Quants-logo.jpg" />
        </p>

    </div>
</div>
<div class="block small-text">
    THEY TRUST US
</div>
<div app-carousel >
    <div carousel-page>
        <div class="schools">
            <div class="school">
                <img src="assets/images/yale.svg"/>                    
            </div>
            <div class="school">
                <img src="assets/images/insead.png"/>                   
            </div>
            <div class="school">
                <img src="assets/images/nus.png"/>                   
            </div>
            <div class="school">
                <img src="assets/images/ie.gif"/>                   
            </div>
            <div class="school">
                <img src="assets/images/imd.png"/>                   
            </div>

        </div>
        <div class="schools"> 
            <div class="school">
                <img src="assets/images/berkeley.svg"/>                    
            </div>
            <div class="school">
                <img src="assets/images/university-of-oxford-said.gif"/>                   
            </div>
            <div class="school">
                <img src="assets/images/HEC.png"/>                   
            </div>
            <div class="school">
                <img src="assets/images/lsoe.jpg"/>                   
            </div>
            <div class="school">
                <img src="assets/images/hkust.png"/>                   
            </div>

        </div>
    </div>
    <div carousel-page>
        <div class="schools">
            <div class="school">
                <img src="assets/images/yale.svg"/>                    
            </div>
            <div class="school">
                <img src="assets/images/insead.png"/>                   
            </div>
            <div class="school">
                <img src="assets/images/nus.png"/>                   
            </div>
            <div class="school">
                <img src="assets/images/ie.gif"/>                   
            </div>
            <div class="school">
                <img src="assets/images/imd.png"/>                   
            </div>

        </div>
        <div class="schools"> 
            <div class="school">
                <img src="assets/images/berkeley.svg"/>                    
            </div>
            <div class="school">
                <img src="assets/images/university-of-oxford-said.gif"/>                   
            </div>
            <div class="school">
                <img src="assets/images/HEC.png"/>                   
            </div>
            <div class="school">
                <img src="assets/images/lsoe.jpg"/>                   
            </div>
            <div class="school">
                <img src="assets/images/hkust.png"/>                   
            </div>

        </div>
    </div>
</div>

<div class="slider">
    <div class="slider-point selected"></div>
    <div class="slider-point"></div>
    <div class="slider-point"></div>
</div>
       