<div class="footer-content">
    <div class="footer-column">
        <img class="footer-logo" src="assets/images/Logo.svg"/>
        <p>
            Copyright © 2017, Twic by THE STUDNET.
        </p>
    </div>
    <div class="footer-menu mobile dropdown" app-dropdown>
        <div class="dropdown-content">
            <div>See our Product</div>
            <div>Pricing</div>
            <div>Support</div>
            <div>About</div>
            <div>About</div>
            <div>Download App IOS</div>
            <div>Download App Android</div>
            <div>Status</div>
        </div>
        <div class="dropdown-toggle">
            <div class="text">See our Product</div> <div class="arrow">></div>
        </div>
        
    </div>
    <div class="footer-column desktop">
        <div class="footer-title">Using Twic</div>
        <ul>
            <li>Product</li>
            <li>Pricing</li>
            <li>Support</li>
        </ul>
    </div>
    <div class="footer-column desktop">
        <div class="footer-title">Twic</div> 
        <ul>
            <li>About</li>
            <li>Download App IOS</li>
            <li>Download App Android</li>
            <li>Status</li>
        </ul>
    </div>
   
    <div class="footer-column desktop">
        <div class="footer-title">Contact us</div>
        <span class="icon icon-facebook social-media"></span>
        <span class="icon icon-twitter social-media"></span>
        <span class="icon icon-linkedin2 social-media"></span>
    </div>
</div>
