<div class="footer-content">
    <div class="footer-column">
        <img class="footer-logo" src="assets/images/Logo-white.svg"  />
        <p>
            Copyright © 2017, Twic by THE STUDNET.
        </p>
    </div>
    <div class="footer-menu mobile dropdown" app-dropdown>
        <div class="dropdown-content">
            <div [routerLink]="['/product']">See our Product</div>
            <div [routerLink]="['/pricing']">Pricing</div>
            <div>Support</div>
            <div [routerLink]="['/about']">About</div>
            <div>Download App IOS</div>
            <div>Download App Android</div>
            <div>Status</div>
            <div>
                <img class="footer-logo" src="assets/images/Logo-white.png"/>
                <p>
                    Copyright © 2017, Twic by THE STUDNET.
                </p>
            </div>
        </div>
        <div class="dropdown-toggle">
            <div class="text">See our Product</div> <div class="chevron bottom"></div>
        </div>
        
    </div>
    <div class="footer-column desktop">
        <div class="footer-title">Using Twic</div>
        <ul>
            <li [routerLink]="['/product']">Product</li>
            <li [routerLink]="['/pricing']">Pricing</li>
            <li>Support</li>
        </ul>
    </div>
    <div class="footer-column desktop">
        <div class="footer-title">Twic</div> 
        <ul>
            <li [routerLink]="['/about']">About</li>
            <li>Download App IOS</li>
            <li>Download App Android</li>
            <li>Status</li>
        </ul>
    </div>
   
    <div class="footer-column desktop">
        <div class="footer-title">Contact us</div>
        <span class="icon icon-facebook social-media"></span>
        <span class="icon icon-twitter social-media"></span>
        <span class="icon icon-linkedin2 social-media"></span>
    </div>
</div>
